.git
.idea
.vscode
**/bin
**/obj
**/node_modules
**/dist
publish
.deploy
*.zip
azure-logs*
local-run*.log
scripts/deploy.azure.json
PolishSpotPriceToLoxone/data/prices-cache.json
PolishSpotPriceToLoxone/data/historical-prices-cache.json
